@import "@treelight/hast/styles.css";

.treelight-frame {
  --treelight-code-background: var(--rp-code-block-bg);
  --treelight-title-background: var(--treelight-code-background);
}

.treelight-frame > .rp-codeblock {
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.treelight-frame > .rp-codeblock > .rp-codeblock__content {
  background: var(--treelight-code-background);
}

.rp-codeblock__content .treelight code {
  padding: 0;
}

@media (width <= 640px) {
  .treelight-frame > .rp-codeblock {
    margin: 0;
  }
}
